/********** Fixes **********/

* {
  margin:0;
  padding:0;
  border:0;
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
}

.clearfix:after {
  content: ".";
  display: block;
  clear: both;
  visibility: hidden;
  height: 0;
  line-height: 0;
}

.clear {
  clear: both;
}

/* Positioning Classes */
.shadow#summer_grass {
  float: left;
  width: 66%;
  height: 590px;
  margin-right: 0;
  margin-left: 0;
}

.shadow#shoe_archive {
  float: right;
  width: 32%;
  height: 590px;
  margin-bottom: 20px;
  margin-left: 0;
}

#wrapper1_column {
  column-count: 3;
  width: 100%;
  padding: 0;
  margin: 0;
}

.wrapper#contact_columns {
  column-count: 3;
}